.form {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 300px;
}

.inputBox {
    width: 100%;
    margin-bottom: 20px;
}

.inputLabel {
    display: flex;
    justify-content: space-between;
}

.input {
    width: 70%;
}

.checkbox {
    margin: 0 10px;
}